* {
    margin: 0;
    padding: 0;
    user-select: none;
}

#content {
    background-image: url(./assets/images/bg-image.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 110%;
    padding: 1% 3%;
    max-width: 100%;
}

/* ---------- header ---------- */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navigation {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 7em;
    font-size: 1.2rem;
    height: 35px;
}

.nav-item:hover {
    color: #c28649;
    border-bottom: 2px solid #c28649;
    cursor: pointer;
}

.logo {
    height: auto;
    width: 3%;
}

/* ---------- main ---------- */
#main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    color: white;
    padding: 5% 0;
    gap: 90px;
    height: 100%;
}

/* ---------- footer ---------- */
#footer {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgba(256, 256, 256, 0.8);
    padding: 5px;
    margin-top: 5%;
}

.github-logo {
    height: auto;
    width: 40px;
}

#footer div {
    color: black;
}

/*  || Home page style ||  */
.content-text {
    font-family: 'Playfair Display SC';
    font-size: 4.8rem;
    max-width: 40%;
}

.content-text>span {
    color: #c28649;
    font-weight: bold;
    font-style: italic;
    font-family: 'Henny Penny';
}

.menu-button button {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: #c28649;
    border: none;
    cursor: pointer;
    text-align: center;
}

.menu-button button:hover {
    border: 1px solid #c28649;
    background-color: transparent;
    color: #c28649;
}

/*  || Menu page style ||  */
.menu {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 65%;
    border: 2px solid #c28649;
    border-radius: 40px;
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1%;
}

.menu-title {
    font-size: 1.5rem;
    font-family: 'Henny Penny';
    border-bottom: 3px solid #c28649
}

.menu-item {
    width: 100%;
}

.menu-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.item-info {
    font-family: 'Moon Dance';
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6em;
    font-weight: 900;
    color: #d69b60;
}

.item-des {
    font-family: 'Indie Flower';
    font-size: 1.2em;
}

/*  || Contact page style ||  */
.contact {
    font-family: 'Playfair Display SC';
    align-self: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: fit-content;
    border-radius: 45px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 1.3em;
    padding: 1% 10%;
    gap: 10px;
    border: 2px solid #c28649;
}

.contact-item {
    display: flex;
    gap: 1em;
}

.contact-item img {
    height: auto;
    width: 250px;
}